:root {
  --black: #010101;
  --red: #e82525;

  --gray: rgb(233, 233, 233);
}

@font-face {
  font-family: rec_reg;
  src: url("./assets/fonts/a2_rec_regular.ttf");
}

@font-face {
  font-family: rec_bold;
  src: url("./assets/fonts/a2_record_black.ttf");
}

@font-face {
  font-family: rec_bold1;
  src: url("./assets/fonts/a2_rec_black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rec_reg;
  text-transform: uppercase;
}

nav {
  width: 100%;
  padding: 12px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  .logo {
    h2 {
      font-size: 12px;
      font-family: rec_bold;
      color: var(--red);
    }
  }

  .nav-links {
    display: flexٖ;
    align-items: center;
    gap: 10px;
    a {
      text-decoration: none;
      font-size: 10px;
      text-transform: uppercase;
      color: var(--black);
    }
  }

  .search-bar {
    width: 150px;
    > input {
      width: 100%;
      font-size: 10px;
      height: 100%;
      border: none;
      outline: none;
      background-color: var(--gray);
      padding: 5px;
      border-radius: 4px;
    }
  }

  .icons-row {
    display: flex;
    gap: 10px;

    .icon {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: var(--gray);
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.hero {
  width: 100%;
  height: 150vh;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  .container {
    margin-top: 55px;
    height: 100vh;

    h1 {
      font-size: 9.6vw;
      font-family: rec_bold;
      white-space: nowrap;
    }

    .image-container {
      width: 100%;
      height: 100vh;
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.066);
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;

        .card {
          width: 400px;
          position: relative;
          height: 500px;
          padding: 20px;
          background-color: white;
          >div{align-self: center;
            /* width: 80%; */
            margin: auto;
            >img{
              
            
              padding: 10px;
              margin: 50px 0px;
            margin-left: 40px;
              width: 80%;
            }
          }
        >div:first-child{
          display: flex;
          justify-content: space-between;
          width: 100%;
          > div >p:first-child{
            font-weight: bold;
            width: 100%;
            font-size: 20px;
          }
        }
        >div>button{
          padding: 10px;
          border: none;
          /* border-radius: 25px; */
          background-color: white;
          position: absolute;
          bottom: 12px;
          right: 15px;

        }
        }
      }
    }
  }
}
.hero1 {
  width: 100%;
  height: 80vh;
  padding: 0 55px;
  display: flex;
  /* justify-content: center; */
  .box1 {
  }
  .card >p{
    font-family: rec_reg;
    font-size: 20px;
    font-weight: bolder;
  }
  h1 {
    white-space: nowrap;
    font-size: 3.6vw;
    font-family: rec_bold;
  }
  .box2 {
    height: 80vh;
    display: flex;

    width: 90vw;

    .card {
      margin: 0;
      padding: 0;
      height: 80%;
      width: 100vw;
     
      img {
      
        height: 110%;
        width: 23vw;
        object-fit: cover;
      }
    }
  }
}
.hero2{
  width: 100%;
  height: 90vh;
  padding: 0 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  .cont1{
    display: flex;
    h1{
      font-family: rec_bold;
      font-size: 3.6vw;
    }
    #bt{
      background-color: var(--black);
      color: white;
      
    }
    button{
      padding: 0px 20px;
      background-color: white;
      border-radius: 5px;
      font-weight: 500;
      font-size: 20px;
      margin: 0px 10px;
    }
  }
  .cont2{
    /* overflow: hidden; */
    display: flex;
    padding: 30px 0px;
    /* margin: 20px; */
    width: 18vw;
    height: 70vh;
    button{
      background-color: #e82525;
      width: 100%;
      padding: 15px;
      border: none;
      margin-top: 15px;
      border-radius: 5px;
      font-size: 20px;
      color: white;
    }
    .top{
      display: flex;
      justify-content: space-between;
      div > p:first-child{
        font-size: 1.3vw;
        font-family: rec_black1;
        font-weight: 800;
      }
    }
    .cart{
      border-top: 1px solid black;
      border-right: 1px solid black;
      padding: 10px;
      
      
    }
    div{
      img{
        margin: 50px 0px;
        height: 35vh;
        width: auto;
      }
      
    }
  }
}
.hero3{

  width: 98%;
  height: 170vh;
 background: url("assets/images/section-4-background.webp");
 background-position: center;
 position: relative;
 .main3{
  position: absolute;
  width: 100%;
  height: 100%;
  
  .line{
    width: 95%;
    position: absolute;
    top: 5%;
    left: 2.5%;
    height: 5vh;
    background-color: white;
  }
  .maintext1{
    position: absolute;
    top:20% ;
    left: 40%;
    font-family: rec_bold;
   
    font-size: 120px;
    color: white;
  }
  .maintext2{
    position: absolute;
    top:30% ;
    left: 10%;
    font-family: rec_bold;
    font-size: 120px;
    color: white;
  }
  .maintext3{
    position: absolute;
    top:40% ;
    left: 30%;
    font-family: rec_bold;
    font-size: 120px;
    color: white;

  }
  .side1{
    position: absolute;
    top:30% ;
    right: 14%;
    font-size: 12px;
    font-family: rec_reg;
    color: white;
  }
  .side2{
    position: absolute;
    top:40% ;
    right: 2%;
    font-size: 12px;
    font-family: rec_reg;
    color: white;
    
  }
  .side3{
    position: absolute;
    top:70% ;
    left: 7%;
    font-size: 12px;
    font-family: rec_reg;
    color: white;
    
  }
  .side4{
    position: absolute;
    bottom:10% ;
    width: 300px;
    left: 8%;
    font-size: 18px;
    font-family: rec_reg;
    color: white;

  }

 }
}
.hero4{
width: 100%;
margin-top: 100px;
padding: 10px;
height: 100vh;


  .main{
    display: flex;
width: 100%;
height: 100%;
margin: 10px;
.second{
  
  font-size: 25px;
  font-family: rec_bold;
  font-weight:lighter;
  white-space: none;
  padding-bottom: 10px;

  width: 350px;
}
>div >img{
  width: 95%;
  height: 80vh;
  
  border-radius: 10px;
}
}
}