:root {
  --black: #010101;
  --red: #e82525;

  --gray: rgb(233, 233, 233);
}

@font-face {
  font-family: rec_reg;
  src: url("./assets/fonts/a2_rec_regular.ttf");
}

@font-face {
  font-family: rec_bold;
  src: url("./assets/fonts/a2_record_black.ttf");
}

@font-face {
  font-family: rec_bold1;
  src: url("./assets/fonts/a2_rec_black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rec_reg;
  text-transform: uppercase;
}

nav {
  width: 100%;
  padding: 12px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  .logo {
    h2 {
      font-size: 12px;
      font-family: rec_bold;
      color: var(--red);
    }
  }

  .nav-links {
    display: flexٖ;
    align-items: center;
    gap: 10px;
    a {
      text-decoration: none;
      font-size: 10px;
      text-transform: uppercase;
      color: var(--black);
    }
  }

  .search-bar {
    width: 150px;
    > input {
      width: 100%;
      font-size: 10px;
      height: 100%;
      border: none;
      outline: none;
      background-color: var(--gray);
      padding: 5px;
      border-radius: 4px;
    }
  }

  .icons-row {
    display: flex;
    gap: 10px;

    .icon {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: var(--gray);
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.hero {
  width: 100%;
  height: 150vh;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  .container {
    margin-top: 55px;
    height: 100vh;

    h1 {
      font-size: 9.6vw;
      font-family: rec_bold;
      white-space: nowrap;
    }

    .image-container {
      width: 100%;
      height: 100vh;
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.066);
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        
        
        .card {
          width: 400px;
          position: relative;
          height: 500px;
          padding: 20px;
          background-color: white;
          >div{align-self: center;
            /* width: 80%; */
            margin: auto;
            >img{
              
            
              padding: 10px;
              margin: 50px 0px;
            margin-left: 40px;
              width: 80%;
            }
          }
        >div:first-child{
          display: flex;
          justify-content: space-between;
          width: 100%;
          > div >p:first-child{
            font-weight: bold;
            width: 100%;
            font-size: 20px;
          }
        }
        >div>button{
          padding: 10px;
          border: none;
          /* border-radius: 25px; */
          background-color: white;
          position: absolute;
          bottom: 12px;
          right: 15px;

        }
        }
      }
    }
  }
}
#secondimage{
  height: 20px;
  padding-top: 10px;
  width: 20px;
}
.hero1 {
  width: 100%;
  height: 80vh;
  padding: 0 55px;
  display: flex;
  /* justify-content: center; */
  .box1 {
  }
  .card >p{
    font-family: rec_reg;
    font-size: 20px;
    font-weight: bolder;
  }
  h1 {
    white-space: nowrap;
    font-size: 3.6vw;
    font-family: rec_bold;
  }
  .box2 {
    height: 80vh;
    display: flex;

    width: 90vw;

    .card {
      margin: 0;
      padding: 0;
      height: 80%;
      width: 100vw;
     
      img {
      
        height: 110%;
        width: 23vw;
        object-fit: cover;
      }
    }
  }
}
.hero2{
  width: 100%;
  height: 90vh;
  padding: 0 25px;
  margin-top: 100px;
  
  margin-bottom: 100px;
  .cont1{
    display: flex;
    h1{
      font-family: rec_bold;
      font-size: 3.6vw;
    }
    #bt{
      background-color: var(--black);
      color: white;
      
    }
    button{
      padding: 0px 20px;
      background-color: white;
      border-radius: 5px;
      font-weight: 500;
      font-size: 20px;
      margin: 0px 10px;
    }
  }
  .cont2{
    /* overflow: hidden; */
    display: flex;
    padding: 30px 0px;
    /* margin: 20px; */
    width: 18vw;
    height: 70vh;
    button{
      background-color: #e82525;
      width: 100%;
      padding: 15px;
      border: none;
      margin-top: 15px;
      border-radius: 5px;
      font-size: 20px;
      color: white;
    }
    .top{
      display: flex;
      justify-content: space-between;
      div > p:first-child{
        font-size: 1.3vw;
        font-family: rec_black1;
        font-weight: 800;
      }
    }
    .cart{
      border-top: 1px solid black;
      border-right: 1px solid black;
      padding: 10px;
      
      
    }
    div{
      img{
        margin: 50px 0px;
        height: 35vh;
        width: auto;
      }
      
    }
  }
}
.hero3{

  width: 98%;
  height: 170vh;
 background: url("assets/images/section-4-background.webp");
 background-position: center;
 position: relative;
 .main3{
  position: absolute;
  width: 100%;
  height: 100%;
  
  .line{
    width: 95%;
    position: absolute;
    top: 5%;
    left: 2.5%;
    height: 5vh;
    background-color: white;
  }
  .maintext1{
    position: absolute;
    top:20% ;
    left: 40%;
    font-family: rec_bold;
   
    font-size: 120px;
    color: white;
  }
  .maintext2{
    position: absolute;
    top:30% ;
    left: 10%;
    font-family: rec_bold;
    font-size: 120px;
    color: white;
  }
  .maintext3{
    position: absolute;
    top:40% ;
    left: 30%;
    font-family: rec_bold;
    font-size: 120px;
    color: white;

  }
  .side1{
    position: absolute;
    top:30% ;
    right: 14%;
    font-size: 12px;
    font-family: rec_reg;
    color: white;
  }
  .side2{
    position: absolute;
    top:40% ;
    right: 2%;
    font-size: 12px;
    font-family: rec_reg;
    color: white;
    
  }
  .side3{
    position: absolute;
    top:70% ;
    left: 7%;
    font-size: 12px;
    font-family: rec_reg;
    color: white;
    
  }
  .side4{
    position: absolute;
    bottom:10% ;
    width: 300px;
    left: 8%;
    font-size: 18px;
    font-family: rec_reg;
    color: white;

  }

 }
}
.hero4{
width: 100%;
margin-top: 100px;
padding: 10px;
height: 100vh;


  .main{
    display: flex;
width: 100%;
height: 100%;
margin: 10px;
.second{
  
  font-size: 25px;
  font-family: rec_bold;
  font-weight:lighter;
  white-space: none;
  padding-bottom: 10px;

  width: 350px;
}
>div >img{
  width: 95%;
  height: 80vh;
  
  border-radius: 10px;
}
}
}
.hero5{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160vh;
  width: 100%;
  .first{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url("assets/images/grid.svg");
    object-position: center;
    background-size: contain;
    width: 65%;
    
    >img{
      width: 70%;
      height: 90%;
      object-fit: cover;
      align-self: center;
    }
  }
  .second{
    height: 150vh;
    width: 100%;
    position: absolute;
  
      .text1{
      font-family: rec_bold;
      font-size: 130px;
      position: absolute;
      line-height: 100px;
      top: 0px;
      left: 60px;
     
    }
    .text2{
      font-family: rec_bold;
      font-size: 130px;
      position: absolute;
      line-height: 100px;
      top: 300px;
      right: 60px;
     

    }
    .text3{
      position: absolute;
      top: 0px;
      font-size:11px;
      right: 220px;
      
    }
    .text4{
      position: absolute;
      top: 200px;
      font-size:11px;
      right: 0px;
      
    }
    .text5{
      position: absolute;
      bottom: 200px;
      font-size:11px;
      left: 100px;
    }
    .text6{
      font-family: rec_bold;
      font-size: 30px;
      width: 150px;
      position: absolute;
      line-height: 25px;
      bottom: 0px;
      left: 60px;
      margin-top: 40px;
     
    }
    .line{
      height: 6vh;
      width: 95%;
      background-color: #010101;
      position: absolute;
      left: 2.5%;
      bottom: 15%;

    }
  }

}
.hero6{
  height: 80hv;
  margin-top: 100px;
  padding: 100px;
  width: 100%;
  .part1{
    width: 30vw;
    height: 40%;
    padding: 10px 0px;
  }
  .part2{
    width: 90vw;
    height: 40%;
    display: flex;
    .p1{
      
      border-radius: 10px;
      >img{
        object-fit: cover;
        width: 45VW;
        border-radius: 10px;
        height: 50vh;
      }
    }
    .p2{
    margin: 10px;
    height:48vh ;
    width: 50vw;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    >p{
      font-family: rec_reg;
      font-weight: bolder;
      letter-spacing: 0px;
      /* white-space: 0px; */
      font-size: 25px;
      line-height: 25px;
      
    }
    >button{
      width: 180px;
      height: 50px;
      font-size: 15px;
      padding: 5px;
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      background-color: var(--red);
    }
    }
  }
}
.hero7{
height: 150vh;
width: 100%;
position: relative;
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
.line{
  height: 6vh;
  width: 95%;
  background-color: #010101;
  /* position: absolute;
  left: 2.5%;
  top: 0%; */
}
.maint{

  margin-top: 10px;
  font-size: 150px;
  width: 98vw;
  padding-left: 50px;
  line-height: 130px;
  font-family: rec_bold1;
  >img{
    margin: auto;
    margin-top: 10px;
    padding-top: 30px;
    height: 150px;
    width: 200px;
  }

}
.lower{
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  .left{
    width: 45vw;
    padding: 80px;
    /* border: 2px solid red; */
    >p{
      width: 55%;
      margin-bottom: 20px;
    }
    >button{
      width: 150px;
      background-color: var(--red);
      color: white;
      padding: 12px;
      font-family: rec_reg;
      border: none;
      border-radius: 5px;
      font-size: 17px;
    }
  }
  .right{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 45vw;
    padding: 40px;
    ul{
      height: 100%;
      width: 80%;
      li{
        border-top: 1px solid black;
        padding: 15px 0px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        font-size: 25px;
        font-family: rec_bold1;
        list-style: none;
        >img{
          padding: 0px 50px;
          
          height: 20px;
        }
      }

    }
  }

}
}
.bottom{
  margin-top: 10vh;
  height: 150vh;
  padding-top: 90px;
  /* margin: 80px 0px; */
  background-color: #010101;
  width: 100%;
  .grid{
    padding: 40px;
    height: 80%;
    width: 100%;
    /* background-color: #e82525; */
    background-color: #010101;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    #p1{
      color: white;
      font-size: 40px;   
      font-weight: bolder;
      padding-bottom: 310px;
      line-height: 35px;
    }
    #p2{
      color: white;
      font-size: 30px;   
      padding: 20px;
      padding-bottom: 300px;
      font-weight: bolder;
      
      
      .links{
        
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        height: fit-content;
        font-weight: 300;
        >a{
          font-family: rec_reg;

          font-size: 15px;
          text-decoration: none;
          color: white;
        }
      }
    }
    
    .gridsections{
      padding: 10px;
      height: 40vh;
      background-color: #010101;
      width: 100%;
      border-radius: 1px solid black ;
      border-bottom: 1px solid rgba(107, 107, 107, 0.603);
      border-right: 1px solid rgba(107, 107, 107, 0.603);
      

    }
    #p6{
      button{
        /* display: flex;
        align-items: center;
        justify-content: center; */
        padding: 5px 10px;
        margin-bottom: 90px ;
        border-radius: 20px;
        background-color: #010101;
        color: white;
        border: 1px solid rgba(107, 107, 107, 0.603);
      }
      p{
        
        color: white;
      }
    }
    #p11{
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
      border: none;
      font-size: 12px;
      a{
        color: white;
      }
    }
    #p12{
      border: none;
      display: flex;
      flex-direction: column;
      padding: 30px;
      a{

        color: white;
        text-decoration: none;
      }
    }
    #p11{


    }
    #P5{
      /* display: flex; */
      color: white;
      padding: 10px  ;
      padding-top: 20px;
    
      h1{
        color: white;
      font-size: 30px;   
      font-weight: bolder;
      
        
      }
      p{
        width: 210px;
        padding:60px 0px;
        padding-bottom: 30px;
      }
      button{
        color: white;
        padding: 17px;
        border-radius: 5px;
        font-size: 15px;
        border: 1px solid white;
        background-color:black;
      }
    }

    #p7{
      padding-top: 40px;
      padding-left: 40px;
      h1{
        padding-bottom: 100px;
        color: white;
        font-size: 25px;   
        font-weight: bolder;
      }
      button{
        color: white;
        background-color: #010101;
        border: 1px solid white;
        padding: 10px;
        font-size: 17px;
        border-radius: 5px;
      }
      
    }
    #p10{
      border: none;
      padding: 20px;
      display: flex;
      justify-content: flex-start;
      .face{
        padding: 5px;

        height: 30px;
      }
      .insta{
        padding: 5px;

        height: 40px;
      }
      .yt{
        padding: 5px;
        height: 40px;
      }
    }
    
    #P9{
      padding: 30px;
      border: none;
      color: white;
    }
    .gridsections:nth-child(4){
      border-right:none ;
    }
    .gridsections:nth-child(8){
      border-right:none ;
    }
    .gridsections:nth-child(5){
      border-right:none ;
    }
  }
}
.whole{
  width: 95%;
  margin-left: 2.5%;
  background-color: var(--red);
  height: 50vh;
  position: relative;
  .line{
    width: 98%;
    background-color: white;
    height:20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
